<a href="https://colab.research.google.com/github/LAYOUM/python_assignment/blob/main/Lecture_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4 Practice

### 4-1 
str 타입의 변수 name을 입력받으면  
"hello" + name  
을 반환하는 함수를 작성하고 함수를 사용해 이름을 변수로 넣고 반환값을 받아  
출력하는 프로그램을 작성하시오   
주의:함수를 작성하고 함수를 run을 시켜야 함수를 사용할 수 있습니다.

In [ ]:
def print_name(name):
  print("hello ", name)

In [ ]:
name=input("say your name: ")
print_name(name)

### 4-2

두 수를 입력받고 둘 중 큰 수를 반환하는 함수를 작성하고  
반환값을 이용해 출력하는 프로그램을 작성하세요

In [ ]:
def print_max(var1, var2):
  if var1>var2:
    print(var1)
  if var1<var2:
    print(var2)
  if var1==var2:
    print("두 수는 같다")

In [ ]:
var1, var2=input().split()
var1=int(var1)
var2=int(var2)
print_max(var1, var2)

### 4-3
두 수를 입력받고 두 수의 곱을 출력하는 프로그램을 작성하세요  
이 때 두번째 파라미터는 받지 않을 수 있습니다(입력값이 한개일 수 있습니다)  
두번째 파라미터가 없는경우 초기값(14)로 설정되게 작성하세요

In [ ]:
def print_mul(var1, var2):
  var1=var[0]
  if len(var)<2:
    var2=14
  else :
    var2=var[1]
  print(var1*var2)

In [ ]:
var=list(map(int, input().split()))
print_mul(var1, var2)

### 4-4

함수를 이용해 list에 담긴 값 중 최대값을 구하는 프로그램을 작성하세요

In [ ]:
def get_Max(list_a):
  max=list_a[0]
  for i in range(1, len(list_a)):
    if max<list_a[i]:
      max=list_a[i]
  print(max)

In [ ]:
list_a=[1,3,4,58,5,11,16]
get_Max(list_a)

### 4-5

람다 함수를 이용하여 1부터 9까지 제곱수를 출력하는 프로그램을 작성하세요

In [ ]:
x=lambda a: a**2
for i in range(1, 10):
  print(x(i))